#login-dialog {
  width: 300px;
  height: auto;
  margin: 50px auto;
}

div.container{
  width: 100%;
  max-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #EEEEEE;
}

.footer-copyright {
  text-align: center;
  line-height: 60px;
}